<div class="container-fluid p-2 col-md-7 h-100" >
    <div id="header-carousel" class="carousel slide h-100 " data-bs-ride="carousel">
        <div class="carousel-inner h-100">

        {% for film in films %}


            <div class="carousel-item {{loop.first ? 'active' : ''}} h-100">
                <div class="card mb-3 border-0 h-100" >
                    <div class="row g-0 h-100" >
                        <div class="col-sm-10 col-md-8 " >
                            <div class="card-body h-100">
                                <h3 class="card-title mt-2 mb-4">{{film.getId}} - {{film.getTitre}}</h3>
                                <p class="card-text mb-1 text-muted">Réalisé en <strong>{{film.getAnnee}}</strong> par <strong>{{film.getRealisateur}}</strong></p>
                                {% set roles = rolesByFilm[film.getId()] %}
                                {% for role in roles %}
                                <p class="card-text m-0 text-muted">Avec <u><em>{{role.getActeur.getPrenom}} {{role.getActeur.getNom}}</em></u> dans le rôle de <strong>{{role.personnage}}</strong></p>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="img-div d-block col-sm-10 col-md-4 p-2 " >
                          <img class="img-fluid rounded h-100"  src="{{film.getAffiche}}" alt="Image">
                        </div>
                    </div>
                </div>


            </div>
            {% endfor %}

        </div>
    </div>
</div>
<div class="container ">
<div class="d-flex justify-content-center p-2">
    <button  type="button" class=" btn_carousel btn btn-light m-3 " data-bs-target="#header-carousel" data-bs-slide="prev">
        Previous
    </button>
    <button  type="button" class="btn_carousel btn btn-light m-3 " data-bs-target="#header-carousel" data-bs-slide="next">
        Next
    </button>
</div>
</div>