{% if message is null %}
	<div>
		<form action="update" method="post">
			<div class="container">
				<label for="title">
					<b>Titre</b>
				</label>
				<input type="text" value="{{offre.getTitle}}" name="title" required>

				<label for="description">
					<b>Description</b>
				</label>
				<input type="text" value="{{offre.getDescription}}" name="description" required>
				<input value="{{offre.getId}}" name="id" type="hidden">
				<button type="submit">Update Offre</button>
			</div>
		</form>
	</div>
{% else %}
	<div>
		<p>{{message}}
			:</p><br>
		{% if offre is defined %}
			{{offre.getTitle}}
			:
			{{offre.getDescription}}
		{% endif %}
	</div>
{% endif %}
